 # Nemm v1 board configuration
 # Copyright (c) 2022 kien242
 #
 # SPDX-License-Identifier: MIT

config BOARD_NEMM_V1_LEFT
	bool "nemm_v1_left"
	depends on SOC_NRF52840_QIAA

config BOARD_NEMM_V1_RIGHT
	bool "nemm_v1_right"
	depends on SOC_NRF52840_QIAA
