# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_MYTOM_V1_LEFT
	bool "mytom v1 left"
	depends on SOC_NRF52840_QIAA
config BOARD_MYTOM_V1_RIGHT 
    bool "mytom v1 right"
	depends on SOC_NRF52840_QIAA